.mypagescreen {
  background-color: #141414; /* 배경색을 짙은 회색(#141414)으로 설정합니다. */
  display: flex; /* 이 요소를 Flexbox 레이아웃으로 설정하여 자식 요소들을 유연하게 배치합니다. */
  flex-direction: row; /* 자식 요소들을 수평 방향(가로)으로 배치합니다. */
  justify-content: center; /* 자식 요소들을 수평으로 중앙에 정렬합니다. */
  width: 100%; /* 이 요소의 너비를 부모 요소의 100%로 설정합니다. */
}
.mypagescreen .mypagediv {
  background-color: #141414; /* 배경색을 어두운 회색(#141414)으로 설정 */
  height: 2278px;            /* 요소의 높이를 4182px로 설정 */
  overflow: hidden;          /* 요소의 내용이 넘칠 경우 보이지 않도록 설정 */
  position: relative;        /* 자식 요소의 절대 위치를 기준으로 설정 */
  width: 1920px;             /* 요소의 너비를 1900px로 설정 */
}
.mypagescreen .mypagefooter {
  background: #0f0f0f;
  padding: 100px 162px 50px 162px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1920px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.mypagescreen .mypagecontainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mypagescreen .mypagesub-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.mypagescreen .mypageheading {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.mypagescreen .mypagelinks-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mypagescreen .mypagetext-button {
  color: #999999;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.mypagescreen .mypagelinks-container2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.mypagescreen .mypagebuttons-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.mypagescreen .mypagebutton {
  background: #1a1a1a;
  border-radius: 8px;
  border-style: solid;
  border-color: #262626;
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.mypagescreen .mypageicon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.mypagescreen .mypageicon2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.mypagescreen .mypageicon3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.mypagescreen .mypagecontainer2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mypagescreen .mypageline {
  margin-top: -1px;
  border-style: solid;
  border-color: #262626;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.mypagescreen .mypagecontainer3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mypagescreen .mypagetext {
  color: #999999;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
.mypagescreen .mypagebuttons-container2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.mypagescreen .mypagetext-container {
  color: #999999;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
.mypagescreen .mypageline2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #262626;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  width: 27px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.mypagescreen .mypagecontainer4 {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1596px;
  height: 462px;
  position: absolute;
  left: 162px;
  top: 179px;
}
.mypagescreen .mypageform {
  background: #0f0f0f;
  border-radius: 12px;
  border-style: solid;
  border-color: #262626;
  border-width: 1px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.mypagescreen .mypagecontainer5 {
  background: #e50000;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.mypagescreen .mypagetext2 {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  width: 128px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypagescreen .mypageitems-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mypagescreen .mypagecontainer6 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.mypagescreen .mypageheading2 {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.mypagescreen .mypageinput-field {
  background: #141414;
  border-radius: 8px;
  border-style: solid;
  border-color: #262626;
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 77px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.mypagescreen .mypagetext3 {
  color: #999999;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.mypagescreen .mypageinput-feild {
  background: #141414;
  border-radius: 8px;
  border-style: solid;
  border-color: #262626;
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 77px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mypagescreen .mypageinput-field2 {
  background: #141414;
  border-radius: 8px;
  border-style: solid;
  border-color: #262626;
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 77px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mypagescreen .mypageinput-feild2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mypagescreen .mypagecontainer7 {
  background: #141414;
  border-radius: 8px;
  border-style: solid;
  border-color: #262626;
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 77px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.mypagescreen .mypagenavbar {
  padding: 30px 162px 30px 162px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1921px;
  position: absolute;
  left: calc(50% - 961px);
  top: 0px;
}
.mypagescreen .mypagelogo {
  flex-shrink: 0;
  width: 199px;
  height: 60px;
  position: relative;
}
.mypagescreen .mypagevector {
  width: 30.15%;
  height: 100%;
  position: absolute;
  right: 69.85%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.mypagescreen .mypagevector2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.mypagescreen .mypageicon4 {
  width: 33.92%;
  height: 33.92%;
  position: absolute;
  right: 31.39%;
  left: 34.69%;
  bottom: 32.93%;
  top: 33.15%;
  overflow: visible;
}
.mypagescreen .mypagestream-vibe {
  width: 68.34%;
  height: 33.33%;
  position: absolute;
  right: 0%;
  left: 31.66%;
  bottom: 33.33%;
  top: 33.33%;
  overflow: visible;
}
.mypagescreen .mypagegroup-37 {
  position: absolute;
  inset: 0;
}
.mypagescreen .mypagecontainer8 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 299px;
  height: 450px;
  position: absolute;
  left: 262px;
  top: 970px;
}
.mypagescreen .mypagesub-container2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 359.5px;
  height: 450px;
  position: relative;
}
.mypagescreen .mypagecard {
  background: #1a1a1a;
  border-radius: 12px;
  border-style: solid;
  border-color: #262626;
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 300px;
  height: 470px;
  position: relative;
}
.mypagescreen .mypageimage {
  border-radius: 12px;
  flex-shrink: 0;
  width: 250px;
  height: 380px;
  position: relative;
  object-fit: cover;
}
.mypagescreen .mypagediv2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 28px;
  font-weight: 500;
  position: relative;
  width: 127.02px;
  height: 38px;
}
.mypagescreen .mypagegroup-38 {
  position: absolute;
  inset: 0;
}
.mypagescreen .mypagecontainer9 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 299px;
  height: 450px;
  position: absolute;
  left: 1324px;
  top: 970px;
}
.mypagescreen .mypagegroup-39 {
  position: absolute;
  inset: 0;
}
.mypagescreen .mypagecontainer10 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 299px;
  height: 450px;
  position: absolute;
  left: 970px;
  top: 967px;
}
.mypagescreen .mypagegroup-40 {
  position: absolute;
  inset: 0;
}
.mypagescreen .mypagecontainer11 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 299px;
  height: 450px;
  position: absolute;
  left: 616px;
  top: 970px;
}
.mypagescreen .mypageframe-9 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 515px;
  top: 1525px;
}
.mypagescreen .mypagegroup-15 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: static;
}
.mypagescreen .mypagerectangle-518 {
  background: #d9d9d9;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.mypagescreen .mypagediv3 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypagescreen .mypagerectangle-5182 {
  background: #d9d9d9;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 72px;
  top: 0px;
}
.mypagescreen .mypage_1 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 72px;
  top: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypagescreen .mypagegroup-14 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: static;
}
.mypagescreen .mypagerectangle-5183 {
  background: #d9d9d9;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 144px;
  top: 0px;
}
.mypagescreen .mypage_2 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 144px;
  top: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypagescreen .mypagegroup-17 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: static;
}
.mypagescreen .mypagerectangle-5184 {
  background: #d9d9d9;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 216px;
  top: 0px;
}
.mypagescreen .mypage_3 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 216px;
  top: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypagescreen .mypagegroup-23 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: static;
}
.mypagescreen .mypagerectangle-5185 {
  background: #d9d9d9;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 288px;
  top: 0px;
}
.mypagescreen .mypage_4 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 288px;
  top: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypagescreen .mypagegroup-22 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: static;
}
.mypagescreen .mypagerectangle-5186 {
  background: #d9d9d9;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 360px;
  top: 0px;
}
.mypagescreen .mypage_5 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 360px;
  top: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypagescreen .mypagegroup-21 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: static;
}
.mypagescreen .mypagerectangle-5187 {
  background: #d9d9d9;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 432px;
  top: 0px;
}
.mypagescreen .mypage_6 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 432px;
  top: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypagescreen .mypagegroup-20 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: static;
}
.mypagescreen .mypagerectangle-5188 {
  background: #d9d9d9;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 504px;
  top: 0px;
}
.mypagescreen .mypage_7 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 504px;
  top: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypagescreen .mypagegroup-24 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: static;
}
.mypagescreen .mypagerectangle-5189 {
  background: #d9d9d9;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 576px;
  top: 0px;
}
.mypagescreen .mypage_8 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 576px;
  top: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypagescreen .mypagegroup-19 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: static;
}
.mypagescreen .mypagerectangle-51810 {
  background: #d9d9d9;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 648px;
  top: 0px;
}
.mypagescreen .mypage_9 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 648px;
  top: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypagescreen .mypagegroup-18 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: static;
}
.mypagescreen .mypagerectangle-51811 {
  background: #d9d9d9;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 720px;
  top: 0px;
}
.mypagescreen .mypage_10 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 720px;
  top: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypagescreen .mypagegroup-25 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: static;
}
.mypagescreen .mypagerectangle-51812 {
  background: #d9d9d9;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 792px;
  top: 0px;
}
.mypagescreen .mypagediv4 {
  color: #1e1e1e;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 792px;
  top: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
