/* 전체 컨테이너 */
.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* 상단 로그인, 회원가입 버튼 */
.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.auth-button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.auth-button:hover {
  background-color: #0056b3;
}

/* 검색 입력창과 돋보기 아이콘 */
.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  border: none;
  background: none;
  cursor: pointer;
}

.search-icon {
  width: 25px;
  height: 25px;
}

/* 평점순 타이틀 */
.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* 영화 리스트 */
.movie-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie-item {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-details {
  margin-top: 10px;
}

.movie-title {
  font-size: 16px;
  font-weight: bold;
}

.movie-release-date {
  font-size: 14px;
  color: #777;
}
