.briefscreen {
  background-color: #141414; /* 배경색을 짙은 회색(#141414)으로 설정합니다. */
  display: flex; /* 이 요소를 Flexbox 레이아웃으로 설정하여 자식 요소들을 유연하게 배치합니다. */
  flex-direction: row; /* 자식 요소들을 수평 방향(가로)으로 배치합니다. */
  justify-content: center; /* 자식 요소들을 수평으로 중앙에 정렬합니다. */
  width: 100%; /* 이 요소의 너비를 부모 요소의 100%로 설정합니다. */
}
.briefscreen .briefdiv {
  background-color: #141414; /* 배경색을 어두운 회색(#141414)으로 설정 */
  height: 797px;            /* 요소의 높이를 4182px로 설정 */
  overflow: hidden;          /* 요소의 내용이 넘칠 경우 보이지 않도록 설정 */
  position: relative;        /* 자식 요소의 절대 위치를 기준으로 설정 */
  width: 1920px;             /* 요소의 너비를 1900px로 설정 */
}
.briefscreen .briefgroup-4 {
  position: absolute;
  inset: 0;
}
.briefscreen .briefdiv2 {
  width: 1596px;
  height: 479px;
  position: absolute;
  left: 162px;
  top: 240px;
  overflow: visible;
}
.briefscreen .briefdiv3 {
  color: #4d4d4d;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 162px;
  top: 305px;
  width: 1596px;
  height: 330px;
}
.briefscreen .briefheading {
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 162px;
  top: 240px;
  width: 788px;
  height: 53px;
}
.briefscreen .brief_0-500 {
  color: #4d4d4d;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 161px;
  top: 635px;
  width: 163px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.briefscreen .briefline-3 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 1596px;
  height: 0px;
  position: absolute;
  left: 162px;
  top: 295px;
  transform-origin: 0 0;
  transform: rotate(-0.071deg) scale(1, 1);
}
.briefscreen .briefline-4 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 1596px;
  height: 0px;
  position: absolute;
  left: 162px;
  top: 636.99px;
  transform-origin: 0 0;
  transform: rotate(-0.071deg) scale(1, 1);
}
.briefscreen .briefline-6 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 53px;
  height: 0px;
  position: absolute;
  left: 950px;
  top: 240px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.briefscreen .briefgroup-5 {
  width: 136px;
  height: 84px;
  position: static;
}
.briefscreen .briefrectangle-514 {
  background: #00ff37;
  width: 136px;
  height: 84px;
  position: absolute;
  left: 1622px;
  top: 635px;
}
.briefscreen .briefdiv4 {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 1622px;
  top: 635px;
  width: 136px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.briefscreen .briefdiv5 {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 162px;
  top: 129px;
  width: 250px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.briefscreen .briefnavbar {
  padding: 30px 162px 30px 162px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1921px;
  position: absolute;
  left: calc(50% - 961px);
  top: 0px;
  box-sizing: border-box;          /* padding과 border를 너비에 포함하도록 설정 */
}
.briefscreen .brieflogo {
  flex-shrink: 0;
  width: 199px;
  height: 60px;
  position: relative;
}
.briefscreen .briefvector {
  width: 30.15%;
  height: 100%;
  position: absolute;
  right: 69.85%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.briefscreen .briefvector2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.briefscreen .brieficon {
  width: 33.92%;
  height: 33.92%;
  position: absolute;
  right: 31.39%;
  left: 34.69%;
  bottom: 32.93%;
  top: 33.15%;
  overflow: visible;
}
.briefscreen .briefstream-vibe {
  width: 68.34%;
  height: 33.33%;
  position: absolute;
  right: 0%;
  left: 31.66%;
  bottom: 33.33%;
  top: 33.33%;
  overflow: visible;
}
.briefscreen .briefbuttons-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 249px;
  height: 60px;
  position: relative;
}
.briefscreen .briefdiv6 {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  width: 114px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.briefscreen .briefdiv7 {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  width: 115px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.briefscreen .briefdiv8 {
  color: #ffffff;
  text-align: center;
  font-family: "Manrope-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 950px;
  top: 240px;
  width: 61px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.briefscreen .briefframe-6 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1030px;
  top: 256px;
}
.briefscreen .briefheroicons-solid-star {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.briefscreen .briefheroicons-solid-star2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.briefscreen .briefheroicons-outline-star {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.briefscreen .briefheroicons-outline-star2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.briefscreen .briefheroicons-outline-star3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
